<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header" />

<body>
	<div th:fragment="menus&filters">
		<div class="panel panel-default sidebar-menu">

			<div class="panel-heading">
				<h3 class="panel-title">Categorie</h3>
			</div>

			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked category-menu">
					<li class="active"><a href="#">Sig. Elettroniche <span
							class="badge pull-right">42</span>
					</a>
						<ul>
							<li th:classappend="${activeAll}? 'active btn-default'"
								id="all-list-item"><a
								th:href="@{/searchByCategory(category='all')}" id="all-category">All</a></li>
							<li th:classappend="${activeAspire}? 'active btn-default'"
								id="aspire-list-item"><a
								href="@{/searchByCategory(category='Aspire')}" id="aspire">Aspire</a></li>
							<li th:classappend="${activeInnokin}? 'active btn-default'"
								id="innokin-list-item"><a
								th:href="@{/searchByCategory(category='Innokin')}" id="innokin">Innokin</a></li>
							<li th:classappend="${activeSmok}? 'active btn-default'"
								id="smok-list-item"><a
								th:href="@{/searchByCategory(category='Smok')}" id="smok">Smok</a></li>
							<li th:classappend="${activeXtar}? 'active btn-default'"
								id="xtar-list-item"><a
								th:href="@{/searchByCategory(category='Xtar')}" id="xtar">Xtar</a></li>
						</ul></li>

				</ul>

			</div>
		</div>
	</div>	
</body>
</html>