<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
	<div th:fragment="orderSummary" class="box" id="order-summary">
		<div class="box-header">
			<h3>Order summary</h3>
		</div>
		<p class="text-muted">Shipping and additional costs are calculated
			based on the values you have entered.</p>

		<div class="table-responsive">
			<table class="table">
				<tbody>
					<tr>
						<td>Order subtotal</td>
						<th th:text="'$'+${shoppingCart.grandTotal}"></th>

					</tr>

					<!-- 
										<tr>
											<td>Shipping and handling</td>
											<th>$10.00</th>
										</tr>
										-->

					<tr>
						<td>Tax</td>
						<th th:with="tax=${shoppingCart.grandTotal*0.06}"
							th:text="'$'+${#numbers.formatDecimal(tax, 0 ,2)}"></th>
					</tr>
					<tr class="total">
						<td>Total</td>
						<th
							th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.06}"
							th:text="'$'+${#numbers.formatDecimal(total, 0 ,2)}"></th>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>
</html>