
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/cigarette/add}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						Nuovo prodotto<span style="font-size: small"> * Campo obbligatorio</span>
					</legend>


					<!-- name -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="name">* Nome</label>

						<div class="col-md-8">
							<input type="text" name="name" class="form-control" id="name"
								th:value="${cigarette.name}" required="required" placeholder="nome" />
							<span class="help-block">Nome della sigaretta</span>
						</div>
					</div>

					<!-- model -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="model">*
							Modello</label>
						<div class="col-md-8">
							<input type="text" name="model" class="form-control" id="model"
								th:value="${cigarette.model}" required="required"
								placeholder="Modello" /> <span class="help-block">Modello della sigaretta</span>
						</div>
					</div>

					<!-- brand -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="publisher">Marca</label>
						<div class="col-md-8">
							<input type="text" name="brand" class="form-control"
								id="brand" th:value="${cigarette.brand}"
								placeholder="Marca" /> <span class="help-block">Marca della sigaretta</span>
						</div>
					</div>

					<!-- typeOfPuff -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="typeOfPuff">Tipo di tiro</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="publicationDate"
								name="typeOfPuff" th:value="${cigarette.typeOfPuff}"
								placeholder="Tipo di tiro" /> <span class="help-block">Tipo di tiro</span>
						</div>
					</div>

					<!-- technology -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="mode">Tecnologia</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="technology"
								name="technology" th:value="${cigarette.technology}"
								placeholder="Tecnologia" /> <span class="help-block">Tecnologia</span>
						</div>
					</div>

					<!-- subOhm -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="mode">subOhm</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="subOhm"
								name="subOhm" th:value="${cigarette.subOhm}"
								placeholder="subOhm" /> <span class="help-block">subOhm</span>
						</div>
					</div>

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Categoria</label>
						<div class="col-md-8">
							<select th:value="${cigarette.category}" id="category" name="category"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Per favore selezionare un'opzione...</option>
								<option value="Aspire"
									th:selected="(${cigarette.brand}=='Aspire')">Aspire</option>
								<option value="Innokin"
									th:selected="(${cigarette.brand}=='Innokin')">Innokin</option>
								<option value="Smok"
									th:selected="(${cigarette.brand}=='Smok')">Smok</option>
								<option value="Xtar"
									th:selected="(${cigarette.brand}=='Xtar')">Xtar</option>
							</select>
						</div>
					</div>

					<!-- shipping weight -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="shippingWeight">Peso Spedizione</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:value="${cigarette.shippingWeight}" type="number"
									name="shippingWeight" class="form-control" id="shippingWeight"
									placeholder="Shipping Weight" /> <span
									class="input-group-addon">Kg</span>
							</div>
							<span class="help-block">Peso spedizione sigaretta</span>
						</div>
					</div>

					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">Prezzo Lista.</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${cigarette.listPrice}" type="number" name="listPrice"
									class="form-control" id="listPrice" placeholder="List Price" />
							</div>
							<span class="help-block">Prezzo Lista della sigaretta</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice">Nostro Prezzo</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${cigarette.ourPrice}" type="number" name="ourPrice"
									class="form-control" id="ourPrice" placeholder="Our Price" />
							</div>
							<span class="help-block">Nostro Prezzo della sigaretta</span>
						</div>
					</div>

					<!-- in stock number -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumber">SKU</label>
						<div class="col-md-8">
							<input th:value="${cigarette.inStockNumber}" type="number"
								name="inStockNumber" class="form-control" id="inStockNumber"
								placeholder="Number of in-stock copies" /> <span
								class="help-block">Numero copie in stock.</span>
						</div>
					</div>

					<!-- status of cigarette -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Stato</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="active"
								checked="checked" /> Attivo </label> <label><input
								value="false" type="radio" name="active" />
								Inattivo </label> <span class="help-block">Scegliere se il prodotto è attivo o meno.</span>
						</div>
					</div>

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Descrizione</label>
						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${cigarette.description}"
								placeholder="Description" />
							<span class="help-block">Descrizione sigaretta</span>
						</div>
					</div>

					<!-- upload images START-->
					
					<div class="form-group">
						<div class="col-md-2">
							<label for="cigaretteImage">Aggiorna immagine sigaretta - negozio</label>
						</div>
						<div class="col-md-8">
							<input id="cigaretteImage" type="file" name="cigaretteCategory"
								th:value="${cigarette.cigaretteCategory}" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-2">
							<label for="cigaretteImage">Aggiorna immagine sigaretta - dettaglio 1</label>
						</div>
						<div class="col-md-8">
							<input id="cigaretteImage" type="file" name="cigaretteDetail1"
								th:value="${cigarette.cigaretteDetail1}" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-2">
							<label for="cigaretteImage">Aggiorna immagine sigaretta - dettaglio 2</label>
						</div>
						<div class="col-md-8">
							<input id="cigaretteImage" type="file" name="cigaretteDetail2"
								th:value="${cigarette.cigaretteDetail2}" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-2">
							<label for="cigaretteImage">Aggiorna immagine sigaretta - dettaglio 3</label>
						</div>
						<div class="col-md-8">
							<input id="cigaretteImage" type="file" name="cigaretteDetail3"
								th:value="${cigarette.cigaretteDetail3}" />
						</div>
					</div>
					
					<!-- upload images END -->

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Aggiungi sigaretta</button>
							<a class="btn btn-danger" th:href="@{/}">Cancella</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
