
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/product/add}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						Nuovo prodotto<span style="font-size: small"> * Campo obbligatorio</span>
					</legend>


					<!-- name -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="name">* Nome</label>

						<div class="col-md-8">
							<input type="text" name="name" class="form-control" id="name"
								th:value="${product.name}" required="required" placeholder="nome" />
							<span class="help-block">Nome prodotto</span>
						</div>
					</div>

					<!-- attributes -->
					<div class="form-group" th:each="attribute : ${product.productAttributes}">
						<label class="col-md-2 control-label" for="model">*
							</label>
						<div class="col-md-8">
							<input type="text" name="value" class="form-control" id="model"
								th:value="${attribute.value}" required="required"
								placeholder="Modello" /> <span class="help-block" th:text="${attribute.name}"></span>
						</div>
					</div>

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Categoria</label>
						<div class="col-md-8">
							<select th:value="${product.category}" id="category" name="category"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Per favore selezionare un'opzione...</option>
								<option th:each="${category : categories}"  th:value="${category.name}"
									th:selected="(${product.category}=='category.name')" th:text="${category.name}"></option>
								<!-- <option value="Aspire"
									th:selected="(${product.brand}=='Aspire')">Aspire</option>
								<option value="Innokin"
									th:selected="(${product.brand}=='Innokin')">Innokin</option>
								<option value="Smok"
									th:selected="(${product.brand}=='Smok')">Smok</option>
								<option value="Xtar"
									th:selected="(${product.brand}=='Xtar')">Xtar</option> -->
							</select>
						</div>
					</div>

					<!-- shipping weight -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="shippingWeight">Peso Spedizione</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:value="${product.shippingWeight}" type="number"
									name="shippingWeight" class="form-control" id="shippingWeight"
									placeholder="Shipping Weight" /> <span
									class="input-group-addon">Kg</span>
							</div>
							<span class="help-block">Peso spedizione</span>
						</div>
					</div>

					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">Prezzo Lista.</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${product.listPrice}" type="number" name="listPrice"
									class="form-control" id="listPrice" placeholder="List Price" />
							</div>
							<span class="help-block">Prezzo Lista del prodotto</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice">Nostro Prezzo</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${product.ourPrice}" type="number" name="ourPrice"
									class="form-control" id="ourPrice" placeholder="Our Price" />
							</div>
							<span class="help-block">Nostro Prezzo del prodotto</span>
						</div>
					</div>

					<!-- in stock number -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumber">SKU</label>
						<div class="col-md-8">
							<input th:value="${product.inStockNumber}" type="number"
								name="inStockNumber" class="form-control" id="inStockNumber"
								placeholder="Number of in-stock copies" /> <span
								class="help-block">Numero copie in stock.</span>
						</div>
					</div>
					
					<!-- sale -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Saldi</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="sale"/> Sale </label> <label><input
								value="false" type="radio" name="sale" checked="checked"/>
								No Sale </label> <span class="help-block">Scegliere se si vuole che sul prodotto compaia l'etichetta "Sale".</span>
						</div>
					</div>
					
					<!-- new -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Nuovo</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="newProduct"/> New </label> <label><input
								value="false" type="radio" name="newProduct" checked="checked"/>
								No New </label> <span class="help-block">Scegliere se si vuole che sul prodotto compaia l'etichetta "New".</span>
						</div>
					</div>

					<!-- status of product -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Stato</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="active"
								checked="checked" /> Attivo </label> <label><input
								value="false" type="radio" name="active" />
								Inattivo </label> <span class="help-block">Scegliere se il prodotto è attivo o meno.</span>
						</div>
					</div>

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Descrizione</label>
						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${product.description}"
								placeholder="Description" />
							<span class="help-block">Descrizione prodotto</span>
						</div>
					</div>

					<!-- upload images START-->
					
					<div class="form-group">
						<div class="col-md-2">
							<label for="productImage">Aggiorna immagine prodotto - negozio</label>
						</div>
						<div class="col-md-8">
							<input id="productCategory" type="file" name="productCategory"
								th:value="${product.productCategory}" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-2">
							<label for="productImage">Aggiorna immagine prodotto - dettaglio 1</label>
						</div>
						<div class="col-md-8">
							<input id="productDetail1" type="file" name="productDetail1"
								th:value="${product.productDetail1}" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-2">
							<label for="productImage">Aggiorna immagine prodotto - dettaglio 2</label>
						</div>
						<div class="col-md-8">
							<input id="productDetail2" type="file" name="productDetail2"
								th:value="${product.productDetail2}" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-2">
							<label for="productImage">Aggiorna immagine prodotto - dettaglio 3</label>
						</div>
						<div class="col-md-8">
							<input id="productDetail3" type="file" name="productDetail3"
								th:value="${product.productDetail3}" />
						</div>
					</div>
					
					<!-- upload images END -->

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Aggiungi sigaretta</button>
							<a class="btn btn-danger" th:href="@{/}">Cancella</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
