<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />

<body>

	<div id="all">
		<div th:replace="common/header :: navbar"></div>

		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1>Negozio</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a th:href="@{/}">Home</a></li>
							<li>Negozio</li>
						</ul>

					</div>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="container">
				<div class="row">

					<!-- *** LEFT COLUMN ***
			_________________________________________________________ -->

					<div class="col-sm-9">
						<div id="shop-category-call">
							<div th:replace="common/categorieFragment :: listFragment"></div>
						</div>

						<div id="div-elementi-categoria"></div>

					</div>
					<!-- /.col-md-9 -->

					<!-- *** LEFT COLUMN END *** -->

					<!-- *** RIGHT COLUMN ***
			_________________________________________________________ -->

					<div class="col-sm-3">

						<!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->

						<div th:replace="common/menusAndFilters :: menus&filters"></div>

						<!-- *** MENUS AND FILTERS END *** -->


					</div>
					<!-- /.col-md-3 -->

					<!-- *** RIGHT COLUMN END *** -->

				</div>

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->

		<!-- *** FOOTER ***
_________________________________________________________ -->

		<div th:replace="common/footer :: footer"></div>
		<!-- *** FOOTER END *** -->

	</div>
	<!-- /#all -->


	<!-- #### JAVASCRIPT FILES ### -->

	<div th:replace="common/header :: body-bottom-scripts"></div>
	<script>
		$(document).ready(
				function() {
					$('#productList').DataTable(
							{
								"lengthMenu" : [ [ 5, 10, 15, 20, -1 ],
										[ 5, 10, 15, 20, "All" ] ],
								"ordering" : false,
								stateSave : true
							});

					$("#productList").on('page.dt', function() {
						$('html, body').animate({
							scrollTop : $('#productList').offset().top
						}, 200);
					});
				});
	</script>
</body>

</html>