<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />

<body>

	<div id="all">

		<div th:replace="common/header :: navbar"></div>

		<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1>
							<span th:text="${cigarette.name}"></span>
						</h1>
					</div>
					<div class="col-md-5">
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li><a href="shop-category.html">Ladies</a></li>
							<li><a href="shop-category.html">Tops</a></li>
							<li>White Blouse Armani</li>
						</ul>

					</div>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="container">

				<div class="row">

					<!-- *** LEFT COLUMN ***
		    _________________________________________________________ -->

					<div class="col-md-9">

						<p class="lead">Built purse maids cease her ham new seven
							among and. Pulled coming wooded tended it answer remain me be. So
							landlord by we unlocked sensible it. Fat cannot use denied excuse
							son law. Wisdom happen suffer common the appear ham beauty her
							had. Or belonging zealously existence as by resources.</p>
						<p class="goToDescription">
							<a href="#details" class="scroll-to text-uppercase">Scroll to
								product details, material & care and sizing</a>
						</p>

						<div class="row" id="productMain">
							<div class="col-sm-6">
								<div id="mainImage">
									<img th:src="#{adminPath}+@{/image/cigarette/}+${cigarette.id}+'-2.png'" alt="" class="img-responsive">
								</div>

								<div th:if="${cigarette.ourPrice}" class="ribbon sale">
									<div class="theribbon">SALE</div>
									<div class="ribbon-background"></div>
								</div>
								<!-- /.ribbon -->

								<div class="ribbon new">
									<div class="theribbon">NEW</div>
									<div class="ribbon-background"></div>
								</div>
								<!-- /.ribbon -->

							</div>
							<div class="col-sm-6">
								<div class="box">

									<form th:action="@{/shoppingCart/addItem}" method="post">
										<input hidden="hidden" th:field="*{cigarette.id}" />

										<div class="sizes">

											<h3 th:if="*{cigarette.inStockNumber&lt;=0}"
												style="color: red">Non Disponibile</h3>

											<h3 th:if="*{cigarette.inStockNumber!=0}">Quantit&agrave;
												disponibile</h3>
											<h2 th:if="*{cigarette.inStockNumber!=0}" class="text">
												<span th:text="${cigarette.inStockNumber}"></span>
											</h2>

										</div>

										<p class="price">
											$<span
												th:text="${#strings.abbreviate(cigarette.ourPrice, 500)}"></span>
										</p>

										<p class="text-center">
											<button type="submit" class="btn btn-template-main">
												<i
													class="fa fa-shopping-cart"></i> Aggiungi al carrello
											</button>
											<button type="submit" class="btn btn-default"
												data-toggle="tooltip" data-placement="top"
												title="Add to wishlist">
												<i class="fa fa-heart-o"></i>
											</button>
										</p>

									</form>
								</div>

								<div class="row" id="thumbs">
									<div class="col-xs-4">
										<a th:href="#{adminPath}+@{/image/cigarette/}+${cigarette.id}+'-2.png'" class="thumb"> <img
											th:src="#{adminPath}+@{/image/cigarette/}+${cigarette.id}+'-2.png'" alt="" class="img-responsive">
										</a>
									</div>
									<div class="col-xs-4">
										<a th:href="#{adminPath}+@{/image/cigarette/}+${cigarette.id}+'-3.png'" class="thumb"> <img
											th:src="#{adminPath}+@{/image/cigarette/}+${cigarette.id}+'-3.png'" alt="" class="img-responsive">
										</a>
									</div>
									<div class="col-xs-4">
										<a th:href="#{adminPath}+@{/image/cigarette/}+${cigarette.id}+'-4.png'" class="thumb"> <img
											th:src="#{adminPath}+@{/image/cigarette/}+${cigarette.id}+'-4.png'" alt="" class="img-responsive">
										</a>
									</div>
								</div>
							</div>

						</div>


						<div class="box" id="details">
							<p>
							<h4>Descrizione Prodotto</h4>
							<p th:utext="${cigarette.description}"></p>
							<h4>Modello</h4>
							<p th:text="${cigarette.model}"></p>
							<h4>Marca</h4>
							<p th:text="${cigarette.brand}"></p>
							<h4>Tipo di soffio</h4>
							<p th:text="${cigarette.typeOfPuff}"></p>
							<h4>Tecnologia</h4>
							<p th:text="${cigarette.technology}"></p>
							<h4>Sub Ohm</h4>
							<p th:text="${cigarette.subOhm}"></p>
							<h4>Categoria</h4>
							<p th:text="${cigarette.category}"></p>


							<blockquote>
								<p>
									<em>Define style this season with Armani's new range of
										trendy tops, crafted with intricate details. Create a chic
										statement look by teaming this lace number with skinny jeans
										and pumps.</em>
								</p>
							</blockquote>
						</div>

						<div class="box social" id="product-social">
							<h4>Show it to your friends</h4>
							<p>
								<a href="#" class="external facebook" data-animate-hover="pulse"><i
									class="fa fa-facebook"></i></a> <a href="#" class="external gplus"
									data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
								<a href="#" class="external twitter" data-animate-hover="pulse"><i
									class="fa fa-twitter"></i></a> <a href="#" class="email"
									data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
							</p>
						</div>

						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="box text-uppercase">
									<h3>You may also like these products</h3>
								</div>
							</div>

							<div class="col-md-3 col-sm-6">
								<div class="product">
									<div class="image">
										<a href="#"> <img src="image/product2.jpg" alt=""
											class="img-responsive image1">
										</a>
									</div>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>

									</div>
								</div>
								<!-- /.product -->
							</div>

							<div class="col-md-3 col-sm-6">
								<div class="product">
									<div class="image">
										<a href="#"> <img src="image/product3.jpg" alt=""
											class="img-responsive image1">
										</a>
									</div>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
								<!-- /.product -->
							</div>

							<div class="col-md-3 col-sm-6">
								<div class="product">
									<div class="image">
										<a href="#"> <img src="image/product1.jpg" alt=""
											class="img-responsive image1">
										</a>
									</div>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
								<!-- /.product -->
							</div>

						</div>

						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="box text-uppercase">
									<h3>Products viewed recently</h3>
								</div>
							</div>


							<div class="col-md-3 col-sm-6">
								<div class="product">
									<div class="image">
										<a href="#"> <img src="image/product3.jpg" alt=""
											class="img-responsive image1">
										</a>
									</div>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
								<!-- /.product -->
							</div>

							<div class="col-md-3 col-sm-6">
								<div class="product">
									<div class="image">
										<a href="#"> <img src="image/product1.jpg" alt=""
											class="img-responsive image1">
										</a>
									</div>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>
									</div>
								</div>
								<!-- /.product -->
							</div>


							<div class="col-md-3 col-sm-6">
								<div class="product">
									<div class="image">
										<a href="#"> <img src="image/product2.jpg" alt=""
											class="img-responsive image1">
										</a>
									</div>
									<div class="text">
										<h3>Fur coat</h3>
										<p class="price">$143</p>

									</div>
								</div>
								<!-- /.product -->
							</div>

						</div>

					</div>
					<!-- /.col-md-9 -->


					<!-- *** LEFT COLUMN END *** -->

					<!-- *** RIGHT COLUMN ***
		  _________________________________________________________ -->

					<div class="col-sm-3">

						<!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
						<div class="panel panel-default sidebar-menu">

							<div class="panel-heading">
								<h3 class="panel-title">Categories</h3>
							</div>

							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked category-menu">
									<li><a href="shop-category.html">Men <span
											class="badge pull-right">42</span></a>
										<ul>
											<li><a href="shop-category.html">T-shirts</a></li>
											<li><a href="shop-category.html">Shirts</a></li>
											<li><a href="shop-category.html">Pants</a></li>
											<li><a href="shop-category.html">Accessories</a></li>
										</ul></li>
									<li class="active"><a href="shop-category.html">Ladies
											<span class="badge pull-right">123</span>
									</a>
										<ul>
											<li><a href="shop-category.html">T-shirts</a></li>
											<li><a href="shop-category.html">Skirts</a></li>
											<li><a href="shop-category.html">Pants</a></li>
											<li><a href="shop-category.html">Accessories</a></li>
										</ul></li>
									<li><a href="shop-category.html">Kids <span
											class="badge pull-right">11</span></a>
										<ul>
											<li><a href="shop-category.html">T-shirts</a></li>
											<li><a href="shop-category.html">Skirts</a></li>
											<li><a href="shop-category.html">Pants</a></li>
											<li><a href="shop-category.html">Accessories</a></li>
										</ul></li>

								</ul>

							</div>
						</div>

						<div class="panel panel-default sidebar-menu">

							<div class="panel-heading">
								<h3 class="panel-title">Brands</h3>
								<a class="btn btn-xs btn-danger pull-right" href="#"><i
									class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
							</div>

							<div class="panel-body">

								<form>
									<div class="form-group">
										<div class="checkbox">
											<label> <input type="checkbox">Armani (10)
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox">Versace (12)
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox">Carlo Bruni
												(15)
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox">Jack Honey
												(14)
											</label>
										</div>
									</div>

									<button class="btn btn-default btn-sm btn-template-main">
										<i class="fa fa-pencil"></i> Apply
									</button>

								</form>

							</div>
						</div>

						<div class="panel panel-default sidebar-menu">

							<div class="panel-heading">
								<h3 class="panel-title clearfix">Colours</h3>
								<a class="btn btn-xs btn-danger pull-right" href="#"><i
									class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
							</div>

							<div class="panel-body">

								<form>
									<div class="form-group">
										<div class="checkbox">
											<label> <input type="checkbox"> <span
												class="colour white"></span> White (14)
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox"> <span
												class="colour blue"></span> Blue (10)
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox"> <span
												class="colour green"></span> Green (20)
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox"> <span
												class="colour yellow"></span> Yellow (13)
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox"> <span
												class="colour red"></span> Red (10)
											</label>
										</div>
									</div>

									<button class="btn btn-default btn-sm btn-template-main">
										<i class="fa fa-pencil"></i> Apply
									</button>

								</form>

							</div>
						</div>

						<!-- *** MENUS AND FILTERS END *** -->

						<div class="banner">
							<a href="shop-category.html"> <img src="image/banner.jpg"
								alt="sales 2014" class="img-responsive">
							</a>
						</div>
						<!-- /.banner -->
					</div>
					<!-- /.col-md-3 -->

					<!-- *** RIGHT COLUMN END *** -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->


		<!-- *** GET IT ***
_________________________________________________________ -->

		<div id="get-it">
			<div class="container">
				<div class="col-md-8 col-sm-12">
					<h3>Do you want cool website like this one?</h3>
				</div>
				<div class="col-md-4 col-sm-12">
					<a href="#" class="btn btn-template-transparent-primary">Buy
						this template now</a>
				</div>
			</div>
		</div>


		<!-- *** GET IT END *** -->


		<!-- *** FOOTER ***
_________________________________________________________ -->

		<footer id="footer">
			<div class="container">
				<div class="col-md-3 col-sm-6">
					<h4>About us</h4>

					<p>Pellentesque habitant morbi tristique senectus et netus et
						malesuada fames ac turpis egestas.</p>

					<hr>

					<h4>Join our monthly newsletter</h4>

					<form>
						<div class="input-group">

							<input type="text" class="form-control"> <span
								class="input-group-btn">

								<button class="btn btn-default" type="button">
									<i class="fa fa-send"></i>
								</button>

							</span>

						</div>
						<!-- /input-group -->
					</form>

					<hr class="hidden-md hidden-lg hidden-sm">

				</div>
				<!-- /.col-md-3 -->

				<div class="col-md-3 col-sm-6">

					<h4>Blog</h4>

					<div class="blog-entries">
						<div class="item same-height-row clearfix">
							<div class="image same-height-always">
								<a href="#"> <img class="img-responsive"
									src="image/detailsquare.jpg" alt="">
								</a>
							</div>
							<div class="name same-height-always">
								<h5>
									<a href="#">Blog post name</a>
								</h5>
							</div>
						</div>

						<div class="item same-height-row clearfix">
							<div class="image same-height-always">
								<a href="#"> <img class="img-responsive"
									src="image/detailsquare.jpg" alt="">
								</a>
							</div>
							<div class="name same-height-always">
								<h5>
									<a href="#">Blog post name</a>
								</h5>
							</div>
						</div>

						<div class="item same-height-row clearfix">
							<div class="image same-height-always">
								<a href="#"> <img class="img-responsive"
									src="image/detailsquare.jpg" alt="">
								</a>
							</div>
							<div class="name same-height-always">
								<h5>
									<a href="#">Very very long blog post name</a>
								</h5>
							</div>
						</div>
					</div>

					<hr class="hidden-md hidden-lg">

				</div>
				<!-- /.col-md-3 -->

				<div class="col-md-3 col-sm-6">

					<h4>Contact</h4>

					<p>
						<strong>Universal Ltd.</strong> <br>13/25 New Avenue <br>Newtown
						upon River <br>45Y 73J <br>England <br> <strong>Great
							Britain</strong>
					</p>

					<a href="contact.html" class="btn btn-small btn-template-main">Go
						to contact page</a>

					<hr class="hidden-md hidden-lg hidden-sm">

				</div>
				<!-- /.col-md-3 -->



				<div class="col-md-3 col-sm-6">

					<h4>Photostream</h4>

					<div class="photostream">
						<div>
							<a href="#"> <img src="image/detailsquare.jpg"
								class="img-responsive" alt="#">
							</a>
						</div>
						<div>
							<a href="#"> <img src="image/detailsquare2.jpg"
								class="img-responsive" alt="#">
							</a>
						</div>
						<div>
							<a href="#"> <img src="image/detailsquare3.jpg"
								class="img-responsive" alt="#">
							</a>
						</div>
						<div>
							<a href="#"> <img src="image/detailsquare3.jpg"
								class="img-responsive" alt="#">
							</a>
						</div>
						<div>
							<a href="#"> <img src="image/detailsquare2.jpg"
								class="img-responsive" alt="#">
							</a>
						</div>
						<div>
							<a href="#"> <img src="image/detailsquare.jpg"
								class="img-responsive" alt="#">
							</a>
						</div>
					</div>

				</div>
				<!-- /.col-md-3 -->
			</div>
			<!-- /.container -->
		</footer>
		<!-- /#footer -->

		<!-- *** FOOTER END *** -->

		<!-- *** COPYRIGHT ***
_________________________________________________________ -->

		<div id="copyright">
			<div class="container">
				<div class="col-md-12">
					<p class="pull-left">&copy; 2015. Your company / name goes here</p>
					<p class="pull-right">
						Template by <a href="https://bootstrapious.com">Bootstrapious</a>
						& <a href="https://remoteplease.com">Remote Please</a>
						<!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
					</p>

				</div>
			</div>
		</div>
		<!-- /#copyright -->

		<!-- *** COPYRIGHT END *** -->



	</div>
	<!-- /#all -->

	<!-- #### JAVASCRIPT FILES ### -->
	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>

</html>